@font-face {
    font-family: 'FC Sound';
    src: url('../assets/font/FCSound-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FC Sound', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

main {
    padding: 20px;
    flex: 1;
    width: 100%;
    padding: 20px;
    display: block;
}

/*--------------------------------------*/
table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    font-size: 12px;
    margin-bottom: 1%;
    border-radius: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.house-card-all th {
    text-align: left;
    width: 40%;
    padding: 10px;
}

.house-card-all td {
    width: 30%;
    padding-right: 5px;
}

.compare-result {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.compare-table th,
.compare-table td {
    padding: 10px;
    text-align: left;
    font-size: 12px;
}

.compare-table th {
    width: 40%;
}

.label-wrapper {
    display: flex;
    flex-direction: row;
    font-weight: lighter;
}

.label-icon {
    margin-right: 10px;
}

.compare-table td {
    font-weight: regular;
    text-align: center;
    font-size: small;
}

.group-block {
    border: 2px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.group-title {
    padding: 2.3%;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.group-block:nth-child(odd) .group-title {
    background-color: #0077ff1f;
    /* คี่ */
}

.group-block:nth-child(even) .group-title {
    background-color: #0077ff3d;
    /* คู่ */
}

.home-rating {
    font-size: 14px;
    font-weight: regular;
}

.score-note {
    font-size: 12px;
    color: #666;
    padding: 10px;
    text-align: left;
}

.group-block:first-child .group-title {
    background-color: #ff4ad231;

}

.print button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #1b83e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.print button:active {
    background-color: #0056b3;
}

.print {
    display: flex;
    justify-content: center;
}

/*---------------------- pdf ----------------------*/
.pdf-table {
    table-layout: fixed;
    border-collapse: collapse;
}

.pdf-table th,
.pdf-table td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.pdf-table th:first-child,
.pdf-table td:first-child {
    text-align: left;
    width: 35% !important;
}

.col-left {
    width: 35% !important;
    text-align: left;
}

.col-home {
    width: 21.5% !important;
    /* หากมี 3 คอลัมน์ */
    text-align: center;
}

.pdf-section {
    page-break-after: always;
    padding: 15px;
}

/*---------------------- เว็บไซต์ ----------------------*/
@media (min-width: 1740px) {
    main {
        max-width: 1024px;
        margin: auto;
        padding: 30px;
    }

    .compare-table th {
        width: 32%;
    }

    .label-wrapper {
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }

    .house-card-all th {
        font-size: 16px;
    }

    .group-title {
        padding: 1.1%;
        cursor: pointer;
        font-size: 14px;
    }

    .score-note {
        font-size: 14px;
        color: #666;
        padding: 0px 10px 10px 1 0px;
    }

    .pdf-section h3 {
        width: 50%;
    }

    .pdf-table {
        width: 50%;
    }

    .pdf-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/*---------------------- print ----------------------*/
@media print {
    body * {
        visibility: hidden;
    }

    #pdf-content,
    #pdf-content * {
        visibility: visible;
    }

    #pdf-content {
        position: absolute;
        top: 0;
        left: 0;
    }
}
